  .top-btn-container {
    background-color: #FFBFB2;
    border: #ED5849 2px solid;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .top-btn-img {
    height: 3rem;
    width: 2rem;
  }
  
  .top-btn-container:hover {
    animation: none;
    background-color: #ED5849;
    border: #FFBFB2 2px solid;
  }

  .top-btn-container:hover .top-btn-img {
    filter: brightness(120%);
  } 