  .top-btn-container {
    background-color: #FFBFB2;
    border: #ED5849 2px solid;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .top-btn-style {
    height: 3rem;
    width: 2rem;
  }
  
  .top-btn-container:hover {
    animation: none;
    background-color: #ED5849;
    border: #FFBFB2 2px solid;
  }