.landing-container {
    height: calc(100vh - 55px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E12828;
    background: url("../../../resources/images/flowerPattern.jpeg");
    background-position: 0%;
    background-size: contain;
}

.olivia-title {
    font-size: 18vw;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.olivia-subtitle {
    font-size: 6vw;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.olivia-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
    padding: 5%;
    border-radius: 25px;
    max-height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}