.contact-container {
    padding: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #E12828;
    background-color: #FE9E8E;
}

.contact-title {
    font-size: 3rem;
}

.social-networks-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.social-network-icon {
    width: 3rem;
    margin: 2rem 0.3rem;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.social-network-icon:hover {
    filter: brightness(120%);
}